@import "src/app/shared/styles/colors";

.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100vh - 158px);
  overflow: auto;
  color: rgba($white, 0.45);
  font-family: Tahoma, Helvetica, Arial, sans-serif;

  & .item {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: left;
    opacity: 0.65;
    margin: 0 16px;
    border: 2px solid rgb($white, 0.65);
    border-radius: 8px;
    background-color: rgb($black, 0.15);
    padding: 4px;

    & > img {
      width: 72px;
      height: 72px;
    }
  }

  & .selected {
    opacity: 1;
    border: 2px solid rgb($eucalyptus, 0.65);
  }
}
