@import "src/app/shared/styles/colors";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 400px;
  height: 560px;
  overflow: auto;
  text-align: center;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;

  & img {
    width: 96px;
    height: 96px;
  }

  & .name {
    width: 96px;
    overflow: hidden;
    color: $white;
  }
}
