@import "src/app/shared/styles/colors";

.filter {
  display: flex;
  justify-content: center;
  max-width: 400px;
  height: calc(100vh - 204px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 12px;
  user-select: none;

  & img {
    display: block;
    width: 64px;
    pointer-events: none;
  }

  & .name {
    width: 64px;
    overflow: hidden;
    color: $dark-electric-blue;

    & p {
      margin: 0;
      padding: 0 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.icon {
  border-radius: 0 0 20%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 302px;
}

.character {
  border: 2px solid $medium-jungle-green;
  border-radius: 4px;
  background-color: $chinese-white;
  overflow: hidden;
}

.selected {
  box-sizing: border-box;
  border: 2px solid $white;
}

.epic {
  background: linear-gradient(180deg, $purple-navy, $purple-mountain-majesty);
}

.legendary {
  background: linear-gradient(180deg, $coconut, $copper);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;

  & button {
    box-sizing: border-box;
    border: 1px solid rgb($white, 0);
    border-radius: 17px;
    background-color: rgb($white, 0.15);
    cursor: pointer;
    padding: 6px 18px;
    color: rgb(255 255 255 / 45%);
    font-size: 14px;
    user-select: none;
  }
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
