$tan: #d3bc8e;
$crayola: #323947;
$independence: #4a5366;
$purple-navy: #5e5789;
$purple-mountain-majesty: #9c75b7;
$coconut: #945c2c;
$copper: #b27330;
$white: #ffffff;
$bone: #dfd9c7;
$grullo: #b0a689;
$independence: #495366;
$chinese-white: #E9E5DC;
$dark-electric-blue: #606877;
$medium-jungle-green: #153434;
$msu-green: #0d3e3b;
$black: #000000;
$eucalyptus: #33d7a0;
