<app-video-bg></app-video-bg>

<div class="main">
  <button (click)="generateRandomTeam()">Generate</button>

  <div class="result"
       cdkDropListOrientation="horizontal"
       cdkDropList (cdkDropListDropped)="onItemDrop($event)">
    <app-character-card *ngFor="let character of team"
                        [character]="character"
                        cdkDrag
                        cdkDragLockAxis="x"
                        cdkDragBoundary=".result">
      <div class="character-card-placeholder" *cdkDragPlaceholder></div>
    </app-character-card>
  </div>
</div>
