@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/colors";

app-video-bg {
  position: fixed;
}

nav {
  @include flex-center;

  box-sizing: border-box;
  justify-content: space-between;
  background: rgb(0 0 0 / 16%);
  padding: 5px 10px 5px 5px;
  width: 100%;
  backdrop-filter: blur(25px);
}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.main {
  @include max-cover;

  display: flex;
  position: relative;
  flex-direction: column;
}

.logo {
  & img {
    width: 42px;
  }
}

.result {
  @include flex-center;

  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.filters {
  border-radius: 16px;
  background-color: #153434;
  width: 400px;
  height: calc(100vh - 76px);
}

button {
  border: 1px solid $tan;
  border-radius: 32px;
  background-color: rgba($tan, 0.1);
  background-image:
    url("https://wiki.hoyolab.com/_nuxt/img/c-btn-deck-n-l.de27009.png"),
    url("https://wiki.hoyolab.com/_nuxt/img/c-btn-deck-n-r.0940ac4.png");
  background-position: 0, 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: 12px 26px;
  padding: 0 24px;
  min-width: 138px;
  height: 40px;
  color: $tan;
  font-family: HYWenHei, sans-serif;
  font-size: 12px;

  &:hover {
    background-color: rgba($tan, 0.2);
    cursor: unset;
  }
}

.character-card-placeholder {
  width: 180px;
  height: 225px;
}
