@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/colors";

app-video-bg {
  position: fixed;
}

.main {
  @include flex-center;
  @include max-cover;

  position: relative;
  flex-direction: column;
  gap: 20px;
}

.result {
  @include flex-center;

  flex-direction: row;
  gap: 20px;
}

button {
  height: 40px;
  padding: 0 24px;
  min-width: 138px;
  border: 1px solid $tan;
  border-radius: 32px;
  color: $tan;
  background-size: 12px 26px;
  background-color: rgba($tan, 0.1);
  background-position: 0, 100%;
  background-repeat: no-repeat, no-repeat;
  font-size: 12px;
  font-family: HYWenHei, sans-serif;

  &:hover {
    cursor: unset;
    background-color: rgba($tan, 0.2);
  }
}

.character-card {
  @include flex-center;

  height: 225px;
  width: 180px;
  position: relative;
  background-size: 100% 100%;
  flex-direction: column;
  gap: 10px;
}

// continue from here

.character-card-element {
  width: 24px;
  padding: 4px;
  border: 1px solid $independence;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  z-index: 1;
  background: $crayola;
}

.character-card-icon {
  width: 124px;
  height: 124px;
  border: 2px solid #4a5366;
  border-radius: 50%;
  box-sizing: border-box;
  margin-top: 20px;
  overflow: hidden;

  & img {
    width: 100%;
  }

  .character-icon-bg {
    position: absolute;
    width: 124px;
  }

  .character-icon {
    position: relative;
    top: 0;
  }
}

.character-card-name {
  height: 74px;
  display: flex;
  align-items: center;
  width: 140px;
  text-align: center;
}

.character-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  width: 100%;
  font-family: sans-serif;
  color: hsla(0, 0%, 100%, .65);
}

.epic {
  background: linear-gradient(180deg, #5e5789, #9c75b7);
}

.legendary {
  background: linear-gradient(180deg, #945c2c, #b27330);
}
