@import "src/app/shared/styles/colors";

@font-face {
  font-family: HYWenHei;
  src: url("./assets/fonts/zhcn.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  background-color: $msu-green;
  cursor: url("https://wiki.hoyolab.com/_nuxt/img/genshin.69b4156.png"), auto;
  overflow: hidden;
}
